*.iml
.gradle/
.kotlin/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
output-metadata.json
*.jks
*.keystore
keystore.properties
google-services.json
